name: Global CI/CD Pipeline

on:
  push:
    branches: [ staging ]

jobs:
  skaffold-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache Skaffold layers
        uses: actions/cache@v4
        with:
          path: ~/.skaffold/cache
          key: skaffold-${{ runner.os }}-${{ hashFiles('**/Dockerfile', 'skaffold.yaml') }}
          restore-keys: |
            skaffold-${{ runner.os }}-

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Install Skaffold
        run: |
          curl -Lo skaffold https://storage.googleapis.com/skaffold/releases/latest/skaffold-linux-amd64
          sudo install skaffold /usr/local/bin/

      - name: Deploy with Skaffold
        env:
          DEFAULT_REPO: ${{ steps.login-ecr.outputs.registry }}/online-boutique
          PROFILE: 'staging'
        run: |
          aws eks update-kubeconfig --name online-boutique-staging --region eu-central-1
          
          skaffold run \
            -p $PROFILE \
            --default-repo=$DEFAULT_REPO \
            --cache-artifacts=true \
            --push=true