name: Destroy Production (DANGER)

on:
  workflow_dispatch: 

jobs:
  destroy-production:
    runs-on: ubuntu-latest
    environment: production 
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Update Kubeconfig
        run: aws eks update-kubeconfig --name online-boutique-production --region eu-central-1

      - name: Force Clean Kubernetes Resources
        run: |
          kubectl get svc -n production --no-headers | grep LoadBalancer | awk '{print $1}' | xargs -I {} kubectl delete svc {} -n production --timeout=60s
          echo "Очікування видалення AWS ELB..."
          sleep 60

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        
      - name: Terraform Init & Destroy
        working-directory: ./terraform
        run: |
          terraform init -backend-config='backend-production.hcl'
          terraform destroy -auto-approve -var-file='production.tfvars'